# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.mobileprovision
*.p12

# IDE / OS
.idea/
.vscode/
.DS_Store
